<div class="modal-bg">
    <input type="text" name="filePath"  placeholder="Enter file path, i.e - /users/user.html" >
    <br><br>
    <select name="type" style="width:100%;">
        <option value="">Select File Type</option>
        <option value="page">Page</option>
        <option value="include">Include</option>
    </select>
    <br><br>
    <div class="actions">
        <button  type="button" class="button save">Save</button>
        <button id="cancel" type="button" class="cancel">Cancel</button>
    </div>
</div>