<div class="modal-bg">
    Would you like to save this file?
    <br><br>
    <div class="actions">
        <button  type="button" class="button save">Yes</button>
        <button type="button" class="button serious action no" >No</button>
        <button type="button" class="cancel">Cancel</button>
    </div>
</div>